<div class="loginForm">
    <h2>ID 찾기</h2>
    <div class="resultForm">
        아이디는 <%= user.id %> 입니다.
    </div>

    <input type="button" class="btn" value="로그인하기" onclick="location.href='/login'">
</div>