<br>
		<div id="head">
            <iframe height="720px" width="1280px"  src="https://www.youtube.com/embed/SMkvcKhVCEk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>		
        <table class="gm">
            <tr><td class="title"><br>젤다의 전설 스카이워드 소드<br><br></td></tr>
            <tr style="overflow-y:auto; overflow-x:hidden; width:100%; height:150px;">
                <td style="align:middle;"><img style="width:400px" src="/LOZSS.png"></td>
            </tr>
            <tr>
                <td><br>&nbsp;&nbsp;&nbsp;장르:&nbsp;액션 어드벤처<br><br>&nbsp;&nbsp;&nbsp;개발사&nbsp;:&nbsp;Nintendo<br><br>&nbsp;&nbsp;&nbsp;배급사&nbsp;:&nbsp;Nintendo<br><br>&nbsp;&nbsp;&nbsp;플랫폼&nbsp;:&nbsp;닌텐도 스위치<br><br>&nbsp;&nbsp;&nbsp;출시일&nbsp;:&nbsp;2011.11.24<br><br>&nbsp;&nbsp;&nbsp;한국어 지원<br><br></td>
            </tr>
            <tr>
                <td style="width:100px" class="summ">아주 먼 옛날 사악한 존재가 모든 소원과 욕망을 이루는&nbsp;&nbsp;트라이포스를 얻기 위해 전쟁을 일으켰고, 그 때문에 여신은&nbsp;&nbsp;트라이포스를 지키기 위해 살아남은 사람들과 운해 너머로 대지를 띄웠다.&nbsp;&nbsp;그 이후 어느 날 스카이로프트의 기사학교에 다니는 링크는 소꿉친구 젤다와&nbsp;&nbsp;의식을 끝마치고 같이 하늘을 날던중, 젤다가 이상한 검은 폭풍에 빨려들어가&nbsp;&nbsp; 상상 속에만 존재하던 대지로 떨어지는데... <br><br></td>
            </tr>
        </table>
        </div>
        <table class="type">
        <thead>
            <tr>
            <th class="top" style="text-align:left">글 번호</th>
            <th class="top">제목</th>
            <th class="top">작성자</th>
            <th class="top">작성일</th>
            <th class="top">조회수</th>
            </tr>
        </thead>
        <tbody class="type06">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
        </table>
        <form method="post" action="search.jsp">
        <table style="margin:auto;">
        <tr>
        <td>
        <select name="shList">
        <option value="bbsTitle">제목</option>
        <option value="userID">작성자</option>
        </select>
        </td>
        <td>
        <input name="sech" type="text">
        <input type=submit value="검색">
        </td>
        <td>
        <input type=button class=write value=글&nbsp작성 style="float:right" onclick="location.href='write.jsp'">
        </td>
        </tr>
        </table>
        </form>
        <br><br><br><br><br>