@charset "utf-8";

body {
  background-color: rgb(20, 20, 20);
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* 파이어폭스 */
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body::-webkit-scrollbar {
  /*스크롤바 투명*/
  display: none;
}

img:hover {
  box-shadow: 3px 3px 3px #000;
}

input {
  border: white;
  color: black;
  background-color: white;
}


a {
  text-decoration: none;
  color: white;
}

strong {
  padding: 20px;
  font-size: 30px;
}

span {
  font-size: 30px;
}

table {
  color: white;
  font-size: 20px;
}

input::placeholder {
  color: black;
}

ul li {
  margin: 22px;
  list-style-type: none;
  float: left;
  text-align: center;
}

#nintento_device strong {
  margin-left: 9%;
}

.imagepr {
  flex-wrap: wrap;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.imagepr img {
  border-radius: 0.3em;
  width: 150px;
  height: 210px;
}

.device strong {
  margin-left: auto;
  /* 수정된 부분 */
  font-size: 30px;
}

#imageprst {
  font-size: 15px;
  text-align: center;
}

.image {
  margin-bottom: 50px;
  flex-basis: 150px;
  width: 150px;
  height: 220px;
  padding-left: 15px;
  padding-right: 15px;
}

#main_image {
  border-radius: 0.3em;
}

#aimage {
  overflow: hidden;
  display: none;
  object-fit: cover;
  width: 150px;
  height: 210px;
  position: absolute;
  border-radius: 0.3em;
}

#login {
  padding-top: 7px;
  padding-right: 30px;
  float: right;
  color: white;
  font-weight: bold;
  font-size: 17px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}


#ssclogin {
  padding-top: 7px;
  padding-right: 30px;
  float: right;
  color: white;
}

#mainmenu {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#successlogin {
  padding-top: 7px;
  padding-right: 30px;
  float: right;
  color: white;
  font-weight: bold;
  font-size: 17px;
  background: rgba(0, 0, 0, 0);
}

#mainmenu tr td {
  width: 60px;
  height: 40px;
  text-align: center;
  list-style: none;
  float: left;

}


#schuser {
  display: inline-block;
  padding: 5px;
  font-size: 10px;

}

#idpwd {
  border-radius: 0.3em;
  width: 100px;
}

#maindiv {
  padding: 10px;
  margin: 10px;
}


#nav {
  background: linear-gradient(to top,
      rgba(20, 20, 20, 0) 10%,
      rgba(20, 20, 20, 0.1) 30%,
      rgba(20, 20, 20, 0.3) 50%,
      rgba(20, 20, 20, 0.5) 70%,
      rgba(20, 20, 20, 0.7) 90%,
      rgba(20, 20, 20, 0.9) 100%);
  position: fixed;
  padding-top: 5px;
  top: 0px;
  left: 0px;
  right: 0px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}

#nav.roll {
  background: rgba(0, 0, 0, 0.7);
}


#avc {
  border-radius: 0.3em;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  padding: 1px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

#avc:hover {
  background: linear-gradient(to bottom, lightgray 5%, gray 100%);
  background-color: #e9e9e9;
}

#avc:active {
  position: relative;
  top: 1px;
}

#main_image {
  width: 180px;
}

#gm_story p {
  font-size: 20px;
  padding-left: 20px;
  margin: 0px;
}


#contents {
  width: auto;
}

#gm_menu {
  margin-top: 10%;
}

#pc_menu {
  margin-top: 6%;
}

#xbox_device {
  margin-top: 10%;
}

footer {
  margin-top: 10%
}