<div style="color:white" id="gm_menu">
                    
    <!-- NINTENDO 게임 관련 정렬 -->
    <div id="nintento_device">
        <!-- 1번째 줄 -->
        <table class="imagepr">
            <tr>
                <td>
                    <strong>NINTENDO</strong><br><br>
                </td>
            </tr>
            <tr>
                <td  class="image" id=image1>
                    <a href="nintendo/LOZBOTW">
                    <video muted class="aimage1" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image2>
                    <a href="nintendo/LOZSS">
                    <video muted class="aimage2" id="aimage"><source src="video/LOZSS.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZSS.png">
                    </a>
                </td>
                <td class="image" id=image3>
                    <a href="nintendo/supermario">
                    <video muted class="aimage3" id="aimage"><source src="video/supermario.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/supermario.png">
                    </a>
                </td>
                <td class="image" id=image4>
                    <a href="nintendo/LOZBOTW">
                    <video muted class="aimage4" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image5>
                    <a href="nintendo/LOZBOTW">
                    <video muted class="aimage5" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image6>
                    <a href="nintendo/LOZBOTW">
                    <video muted class="aimage6" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image7>
                    <a href="nintendo/LOZBOTW">
                    <video muted class="aimage7" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image8>
                    <a href="nintendo/LOZBOTW">
                    <video muted class="aimage8" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
            <tr>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 스카이워드 소드</td>
                <td style="font-size:19px;text-align:center;">슈퍼마리오</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
            </tr>
        </table>
        
        
        <!-- 2번째 줄 -->
        <table class="imagepr">
            <tr>
                <td class="image" id=image9>
                    <a href="nintendo/LOZBOTW">
                    <video muted class="aimage9" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image10>
                    <a href="nintendo/LOZBOTW">
                    <video muted class="aimage10" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image11>
                    <a href="nintendo/LOZBOTW">
                    <video muted class="aimage11" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image12>
                    <a href="nintendo/LOZBOTW">
                    <video muted class="aimage12" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image13>
                    <a href="nintendo/LOZBOTW">
                    <video muted class="aimage13" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image14>
                    <a href="nintendo/LOZBOTW">
                    <video muted class="aimage14" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image15>
                    <a href="nintendo/LOZBOTW">
                    <video muted class="aimage15" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image16>
                    <a href="nintendo/LOZBOTW">
                    <video muted class="aimage16" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
            <tr>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
            </tr>
        </table>
    </div>







    <!-- XOBX 관련 게임 정렬 -->

    <div id="xbox_device">
        <!-- 1번째 줄 -->
        <table class="imagepr">
            <tr>
                <td>
                    <strong>XBOX</strong><br><br>
                </td>
            </tr>
            <tr>
                <td  class="image" id=image17>
                    <a href="xbox/LOZBOTW">
                    <video muted class="aimage17" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image18>
                    <a href="xbox/LOZSS">
                    <video muted class="aimage18" id="aimage"><source src="video/LOZSS.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZSS.png">
                    </a>
                </td>
                <td class="image" id=image19>
                    <a href="xbox/supermario">
                    <video muted class="aimage19" id="aimage"><source src="video/supermario.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/supermario.png">
                    </a>
                </td>
                <td class="image" id=image20>
                    <a href="xbox/LOZBOTW">
                    <video muted class="aimage20" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image21>
                    <a href="xbox/LOZBOTW">
                    <video muted class="aimage21" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image22>
                    <a href="xbox/LOZBOTW">
                    <video muted class="aimage22" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image23>
                    <a href="xbox/LOZBOTW">
                    <video muted class="aimage23" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image24>
                    <a href="xbox/LOZBOTW">
                    <video muted class="aimage24" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
            <tr>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 스카이워드 소드</td>
                <td style="font-size:19px;text-align:center;">슈퍼마리오</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
            </tr>
        </table>
        
        
        <!-- 2번째 줄 -->
        <table class="imagepr">
            <tr>
                <td class="image" id=image25>
                    <a href="xbox/LOZBOTW">
                    <video muted class="aimage25" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image26>
                    <a href="xbox/LOZBOTW">
                    <video muted class="aimage26" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image27>
                    <a href="xbox/LOZBOTW">
                    <video muted class="aimage27" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image28>
                    <a href="xbox/LOZBOTW">
                    <video muted class="aimage28" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image29>
                    <a href="xbox/LOZBOTW">
                    <video muted class="aimage29" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image30>
                    <a href="xbox/LOZBOTW">
                    <video muted class="aimage30" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image31>
                    <a href="xbox/LOZBOTW">
                    <video muted class="aimage31" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
                <td class="image" id=image32>
                    <a href="xbox/LOZBOTW">
                    <video muted class="aimage32" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                    </a>
                </td>
            <tr>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
            </tr>
        </table>
    </div>
</div>