div style="color:white" id="pc_menu">
                        <!-- 1번째 줄 -->
                        <table class="imagepr">
                            <tr>
                                <td>
                                    <strong>NINTENDO</strong><br><br>
                                </td>
                            </tr>
                            <tr>
                                <td  class="image" id=image1>
                                    <a href="nintendo/LOZBOTW">
                                    <video muted class="aimage1" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                                    </a>
                                </td>
                                <td class="image" id=image2>
                                    <a href="nintendo/LOZSS">
                                    <video muted class="aimage2" id="aimage"><source src="video/LOZSS.mp4" type="video/mp4"></video>
                                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZSS.png">
                                    </a>
                                </td>
                                <td class="image" id=image3>
                                    <a href="nintendo/supermario">
                                    <video muted class="aimage3" id="aimage"><source src="video/supermario.mp4" type="video/mp4"></video>
                                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/supermario.png">
                                    </a>
                                </td>
                                <td class="image" id=image4>
                                    <a href="nintendo/LOZBOTW">
                                    <video muted class="aimage4" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                                    </a>
                                </td>
                                <td class="image" id=image5>
                                    <a href="nintendo/LOZBOTW">
                                    <video muted class="aimage5" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                                    </a>
                                </td>
                                <td class="image" id=image6>
                                    <a href="nintendo/LOZBOTW">
                                    <video muted class="aimage6" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                                    </a>
                                </td>
                                <td class="image" id=image7>
                                    <a href="nintendo/LOZBOTW">
                                    <video muted class="aimage7" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                                    </a>
                                </td>
                                <td class="image" id=image8>
                                    <a href="nintendo/LOZBOTW">
                                    <video muted class="aimage8" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                                    </a>
                                </td>
                            <tr>
                                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 스카이워드 소드</td>
                                <td style="font-size:19px;text-align:center;">슈퍼마리오</td>
                                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                            </tr>
                        </table>
                        
                        
                        <!-- 2번째 줄 -->
                        <table class="imagepr">
                            <tr>
                                <td class="image" id=image9>
                                    <a href="nintendo/LOZBOTW">
                                    <video muted class="aimage9" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                                    </a>
                                </td>
                                <td class="image" id=image10>
                                    <a href="nintendo/LOZBOTW">
                                    <video muted class="aimage10" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                                    </a>
                                </td>
                                <td class="image" id=image11>
                                    <a href="nintendo/LOZBOTW">
                                    <video muted class="aimage11" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                                    </a>
                                </td>
                                <td class="image" id=image12>
                                    <a href="nintendo/LOZBOTW">
                                    <video muted class="aimage12" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                                    </a>
                                </td>
                                <td class="image" id=image13>
                                    <a href="nintendo/LOZBOTW">
                                    <video muted class="aimage13" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                                    </a>
                                </td>
                                <td class="image" id=image14>
                                    <a href="nintendo/LOZBOTW">
                                    <video muted class="aimage14" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                                    </a>
                                </td>
                                <td class="image" id=image15>
                                    <a href="nintendo/LOZBOTW">
                                    <video muted class="aimage15" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                                    </a>
                                </td>
                                <td class="image" id=image16>
                                    <a href="nintendo/LOZBOTW">
                                    <video muted class="aimage16" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                                    </a>
                                </td>
                            <tr>
                                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                            </tr>
                        </table>

                        <!-- 3번째 줄 -->
                        <table class="imagepr">
                            <tr>
                                <td class="image" id=image17>
                                    <a href="nintendo/LOZBOTW">
                                    <video muted class="aimage17" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                                    </a>
                                </td>
                                <td class="image" id=imange18>
                                    <a href="nintendo/LOZBOTW">
                                    <video muted class="aimange18" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                                    </a>
                                </td>
                                <td class="image" id=imange19>
                                    <a href="nintendo/LOZBOTW">
                                    <video muted class="aimange19" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                                    </a>
                                </td>
                                <td class="image" id=imange20>
                                    <a href="nintendo/LOZBOTW">
                                    <video muted class="aimange20" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                                    </a>
                                </td>
                                <td class="image" id=imange21>
                                    <a href="nintendo/LOZBOTW">
                                    <video muted class="aimange21" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                                    </a>
                                </td>
                                <td class="image" id=imange22>
                                    <a href="nintendo/LOZBOTW">
                                    <video muted class="aimange22" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                                    </a>
                                </td>
                                <td class="image" id=imange23>
                                    <a href="nintendo/LOZBOTW">
                                    <video muted class="aimange23" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                                    </a>
                                </td>
                                <td class="image" id=imange24>
                                    <a href="nintendo/LOZBOTW">
                                    <video muted class="aimange24" id="aimage"><source src="video/LOZBOTW.mp4" type="video/mp4"></video>
                                    <img style="border-radius:0.3em; width:178px; height:250px;" src="img/LOZBOTW.png">
                                    </a>
                                </td>
                            <tr>
                                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                                <td style="font-size:19px;text-align:center;">젤다의 전설<br> 브레스오브더 와일드</td>
                            </tr>
                        </table>
                    </div>