<nav>
    <h1>
        <div id="maindiv">
            <div id="nav">
                <table id="mainmenu">
                    <tr>
                        <td style="width:120px; cursor:pointer;" onclick="location.reload(true);">
                            <img style="width:120px; box-shadow:none;" src="img/logo.png" alt="logo">
                        </td>
                    </tr>
                </table>
                <% if (isLoggedIn) { %>
                    <input id="login" type="button" value="로그아웃" onclick="location.href='logout'">
                    <input id="successlogin" type="button" value="<%= username %>" onclick="location.href='updateuser'">

                    <% } else { %>
                        <input id="login" type="button" value="로그인" onclick="location.href='login'">
                        <% } %>
            </div>
            <div id="article">
                <div id="contents">
                    <script>
                        // 수정한 부분
                        var chatWindowWidth = window.innerWidth;
                        if (chatWindowWidth > 1023) {
                            document.write(gm_prolog());
                        }
                    </script>
                </div>
            </div>
            <!-- 여기까지 동영상 배경 -->
        </div>
    </h1>
</nav>