<br>
		<div id="head">
            <iframe height="720px" width="1280px" src="https://www.youtube.com/embed/31btzOVjOTc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>		
        <table class="gm">
            <tr><td class="title"><br>슈퍼마리오 브라더스<br><br></td></tr>
            <tr style="overflow-y:auto; overflow-x:hidden; width:100%; height:150px;">
                <td style="align:middle;"><img style="width:400px" src="/supermario.png"></td>
            </tr>
            <tr>
                <td><br>&nbsp;&nbsp;&nbsp;장르&nbsp;:&nbsp;플랫폼게임<br><br>&nbsp;&nbsp;&nbsp;개발사&nbsp;:&nbsp;Nintendo<br><br>&nbsp;&nbsp;&nbsp;배급사&nbsp;:&nbsp;Nintendo<br><br>&nbsp;&nbsp;&nbsp;플랫폼&nbsp;:&nbsp;닌텐도 스위치<br><br>&nbsp;&nbsp;&nbsp;출시일&nbsp;:&nbsp;1985.09.13<br><br>&nbsp;&nbsp;&nbsp;한국어 미지원<br><br></td>
            </tr>
            <tr>
                <td style="width:100px" class="summ">버섯들이 사는 평화로운 왕국은 어느 날 강력한 마법을 다루는&nbsp;&nbsp;큰 거북 쿠파 일족의 침략을 받게 되었습니다.&nbsp;&nbsp;얌전한 버섯 일족은 모두 쿠파의 마법으로 바위나 벽돌, 포자로&nbsp;&nbsp;모습이 변해버리고, 버섯 왕국은 사라지게 되었습니다.&nbsp;&nbsp;버섯들에게 걸린 마법을 풀고 되살릴 수 있는 것은&nbsp;&nbsp;버섯 왕국의 피치공주뿐입니다.&nbsp;&nbsp;당신이 피치공주를 구하여 마법을 풀어주세요."<br><br></td>
            </tr>
        </table>
        </div>
        <table class="type">
        <thead>
            <tr>
            <th class="top" style="text-align:left">글 번호</th>
            <th class="top">제목</th>
            <th class="top">작성자</th>
            <th class="top">작성일</th>
            <th class="top">조회수</th>
            </tr>
        </thead>
        <tbody class="type06">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
        </table>
        <form method="post" action="search.jsp">
        <table style="margin:auto;">
        <tr>
        <td>
        <select name="shList">
        <option value="bbsTitle">제목</option>
        <option value="userID">작성자</option>
        </select>
        </td>
        <td>
        <input name="sech" type="text">
        <input type=submit value="검색">
        </td>
        <td>
        <input type=button class=write value=글&nbsp작성 style="float:right" onclick="location.href='write.jsp'">
        </td>
        </tr>
        </table>
        </form>
        <br><br><br><br><br>