<nav>
    <h1>                    
        <div id="maindiv">
            <div id="nav">
                <table id="mainmenu">
                    <tr><td style="width:120px; cursor:pointer;" onclick="location.href='/';"><img style="width:120px; box-shadow:none;" src="/img/logo.png" alt="logo"></td>
                        <td><a href="pc">PC</a></td>
                        <td><a href="xbox">XBOX</a></td>
                        <td><a href="ps">PS</a></td>
                        <td><a href="nintendo">NIN</a></td>
                    </tr>
                </table>
                <input id="login" type="button" value="로그인" style="font-weight : bold ; font-size: 20px;" onclick="location.href='login'">
            </div>
        </div>
    </h1>
</nav>